name: Docker Image CI

on:
  pull_request:
    branches: [ main, dev ]
  workflow_dispatch:


jobs:
  docker-ci: 
    runs-on: ubuntu-latest
    steps:

    - name: Checkout Repository
      uses: actions/checkout@v3
      with:
          submodules: true

    - name: Test Server Docker image Builds
      run: docker build .